<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #3 - Use the same list display from search.html -->
    <ul>
        <span th:each="job :${jobs}" >
            <li style="list-style-type:none;" th:each="field : ${job}" th:text="${field.key + ' : ' + field.value}"></li><br/>
        </span>
    </ul>


</div>

</body>
</html>